.slider {
  width: 100%;
  height: 2px;
  background-color: blue;
  margin-top: 20px;
}

.slider .thumb {
  width: 23px;
  height: 23px;
  cursor: pointer;
  background-color: #ffff;
  border-radius: 100%;
  border: 2px solid black;
  top: -10px;
}